doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
    body 
        include ../include/header.pug
        form(method='GET' style='display: flex;width: 70%;padding: 14px;justify-content: space-between;align-items: flex-end;') 
            div 
                label(for="title") Input the Title
                input(type="text" name='title' id='title' value=search.title)
            div 
                label(for="minprice") min Price 
                input(type="text" name='minprice' id='minprice' value=search.minprice)
            div 
                label(for="price") max Price 
                input(type="text" name='maxprice' id='maxprice' value=search.maxprice)
            div 
                input(type="submit" value='Search')
        for book in books 
            div(style='display: flex;justify-content: space-between;;background-color:grey;color: #fff;padding: 12px;margin-bottom:12px;width: 70%') 
                div 
                    h3 The Title : #{book.title}
                    h3 The Price : #{book.price}
                    h3 Student :
                        a(href=`/students/${book.studentId.id}`) #{book.studentId.firstName} #{book.studentId.lastName}
                div(style='display: flex;flex-direction: column;justify-content: inherit;')
                    form(action=`/books/delete/${book.slug}?_method=DELETE` method='post') 
                        button(type='submit') Delete
                    a(href=`/books/edit/${book.slug}`) Update 
                    a(href=`/books/${book.slug}`) Show
                    a(href="/") last
